{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4 class="text-center">Login to your  account</h4>
        </div>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}

          <div class="form-group py-3">
            <input
              type="text"
              name="username"
              placeholder="username"
              id="usernameField"
              value="{{fieldValues.username}}"
              class="form-control form-control-user"
            />
          </div>
          <div class="form-group py-3">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-user"
              id="passwordField"
            />

          </div>
          <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn" />

           <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
        </form></div>
    </div>

        </form>

      </div>


  <div class="col-md-5"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}